.inputs {

    margin: 10px;
    width: 100px;
}

.botoes {

    margin: 10px;
    width: 60px;
    font-size: 20px;
    font-family: Impact;
}

#resultado {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-style: oblique;
}